body {
	background-color: rgb(26,26,26);
	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
	color: white;
}

#counter {
	margin: 40px auto;
	cursor: pointer;
	
	text-align: center;
	font-size: 42px;
}

#counter.break {
	color: rgb(75, 200, 25);
	-moz-transition: color 2s linear;
	-o-transition: color 2s linear;
	-webkit-transition: color 2s linear;
}

.action {
	visibility: hidden;
	opacity: 0.5;
	
	font-size: 12px;
}

#counter:hover .action {
	visibility: visible;
}

#notify {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
	
	font-size: 12px;
}