body {
	background-color: rgb(26,26,26);
	color: white;
}

#main-display {
	margin: 20px auto;
	padding: 20px;
	width: 150px;
	
	text-align: center;
	font-size: 42px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
	color: white;
}

.break {
	color: rgb(75, 200, 25);
	-moz-transition: color 2s linear;
	-o-transition: color 2s linear;
	-webkit-transition: color 2s linear;
}